/*FONT FAMILY - marck-script-regular {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
}*/


* {
    margin: 0;
    padding: 0;
  }
  
html {
    margin: 0;
    padding: 0;
    font-family: "marck script", cursive, Arial, 
    Helvetica, sans-serif;
    font-size: 16px;
    background-image: linear-gradient(to right, steelblue, lightgrey, white, lightgrey, steelblue);
    /*rgb(238, 167, 142);*/
  }

        /*HEADER CODE*/
.flex-container-header {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: steelblue;
    border: 0.5px solid black;
    justify-content: center;
}

.flex-item-header {
    position: relative;
    }

.item1 {
    color: rgb(218, 235, 235);
    text-shadow: 1px 1px darkblue;
    font-size: 56px;
    margin: 15px;
    text-align: center;
}

.item2 {
    color: rgb(218, 235, 235);
    text-shadow: 1px 1px darkblue;
    font-size: 46px;
    margin: 15px;
    padding: 0 45px;
    text-align: center;
}

.border-box {
    border: 5px solid rgb(49, 98, 138);
    margin: 10px;
    border-style:groove;
    background-color: rgb(3, 2, 1);
}

.banner{
    background-color: black;
    color: rgb(218, 235, 235);
    display: flex;
    justify-content: center;
}

.banner nav {
    display: inline-flex;
    justify-content: space-around;
    list-style: none;
    padding: 5px 20px;
}

nav li {
    padding: 0 20px;
}

nav a {
    color: rgb(218, 235, 235);
    font-size: 20px;
}

/*@media only screen and (max-width: 760px) {
    .item1 {
        font-size: 26px;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0.5px 0.5px darkblue;
    }

    .item2 {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0.5px 0.5px darkblue;
    }
}*/

/*ABOUT BANNER CODE*/
#about {
    background-image: url(resources/pexels-anni-roenkae-3418400.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 300px;
    margin: 0 auto;
    background-color: steelblue;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
}
        
.about {
    position: relative;
    background-color: steelblue;
    opacity: 0.9;
    border-radius: 4px;
    border: 4px solid black;
    border-style: groove;
}
        
.about h2 {
    color: rgb(218, 235, 235);
    text-shadow: 1px 1px darkblue;
    font-size: 46px;
    margin: 15px;
    text-align: center;
    }

#supplies-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    background-image: linear-gradient(to right, rgb(102, 92, 37), rgb(146, 132, 53), rgb(192, 174, 70), rgb(146, 132, 53));
    max-width: 300px;
    width: 30%;
    margin: 10px auto;
    border: 3px solid black;
    border-style: inset;
    text-align: center;
    }

#supplies {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 300px;
    margin: 0 auto;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    }

.supplies {
    display: flex;
    flex-wrap: wrap;
}

.supplies img {
    position: relative;
    width: 200px;
    height: 250px;
    margin: 10px 15px;
    }
                


